@import "_variables";
@import "_responsive";
#b1ad__footer {
    padding: 20px;
    background: #2c3640;
    color: #ffffff;
    border-bottom: 1px solid rgba(240, 242, 245, 1);
    &--content {
        .box__ft {
            margin-bottom: 20px;
            .box__chill {
                margin-bottom: 15px;
                &-header {
                    margin-bottom: 10px;
                }
            }
            &--header {
                h3 {
                    font-size: 22px;
                    font-weight: 700;
                    padding: 0px;
                    white-space: normal;
                    overflow: visible;
                    text-overflow: initial;
                    color: white;
                }

                // h1 {
                //     display: inline-block;
                //     color: #ffffff;
                //     font-family: Montserrat;
                //     font-size: 22px;
                //     font-weight: 700;
                //     line-height: 26.4px;
                //     margin: 0px 0px 15px;
                //     text-align: left;
                //     text-transform: uppercase;
                // }
            }
            &--cont {
                p:not(.box-chill p) {
                    color: #ffffff;
                    font-family: Nunito Sans;
                    font-size: 15px;
                    line-height: 25px;
                    padding: 0px 15px;
                    text-align: justify;
                }
                .my__box {
                    margin-bottom: 12px;
                    padding-left: 10px;
                    transition: all 0.25s;
                    &:hover {
                        a {
                            background: linear-gradient(
                                109.6deg,
                                rgba(45, 116, 213, 1) 11.2%,
                                rgba(121, 137, 212, 1) 91.2%
                            );
                        }
                    }
                    &--fb {
                        background: #4267b2;
                    }
                    &--git {
                        background: #333;
                    }
                    &--youtube {
                        background: #ff0000;
                    }
                    &--web {
                        background: #00b2ff;
                    }
                    &--vscode {
                        background: #333;
                    }
                    a {
                        display: flex !important;
                        width: 100%;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                        height: 60px;
                        color: #ffffff;
                        text-decoration: none;
                        font-weight: 700;
                        text-transform: uppercase;
                        font-size: 16px;
                        span {
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
        .grid-1 {
            ul {
                li {
                    margin: 10px 0px;
                    span {
                        color: #ffffff;
                        font-family: Nunito Sans;
                        font-size: 15px;
                        line-height: 25px;
                        margin: 10px 0px 15px;
                        padding: 0px 15px;
                        text-align: justify;
                        a {
                            font-weight: 700;
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
        .grid-3 {
            h2 {
                display: block !important;
                text-align: center !important;
            }
        }
        .grid-4 {
            ul {
                li {
                    margin: 10px 0;
                    a {
                        display: block;
                        font-family: Nunito Sans;
                        font-size: 15px;
                        line-height: 25px;
                        text-align: justify;
                        color: #ffffff;
                        &:hover {
                            text-decoration: none;
                            @include color_gadient;
                        }
                    }
                }
                .tax-info {
                    margin-top: 20px !important;
                }
            }
        }
    }
}
