@import "_responsive";
[aria-current="page"] span {
    background: #277b8c !important;
    color: #ffffff;
}
.carousel-indicators {
    display: none;
}
#cancel__target:hover {
    background: #ee5253;
}
.toast-success {
    background-color: #4bb543 !important;
}

#page__loading {
    position: fixed;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    background: none !important;
    img {
        z-index: 1;
        background: none;
        position: fixed;
        top: 50%;
        left: 50%;
    }
    div {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: #000000;
        z-index: -1;
        opacity: 0.2;
    }
}
.owl-nav {
    button.disabled {
        background: #8b9198 !important;
        &:hover {
            background: #8b9198 !important;
        }
    }
    .owl-next {
        span {
            padding-left: 3px;
        }
    }
}
.plborder {
    overflow: hidden;
    border-left: 0.0625rem solid #efefef;
    @include responsive_h(iphone5-se, down) {
        border-left: none;
    }
}
.va-fix-81 {
    @include responsive_h(iphoneX, down) {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.va-fix-36 {
    @include responsive_v(iphone6-7-8plus, down) {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.va-fix-64 {
    @include responsive_v(iphone6-7-8plus, down) {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.form-control {
    color: rgba(51, 51, 51, 1) !important;
    background: rgba(250, 250, 250, 1) !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgba(221, 221, 221, 1) !important;
    border-radius: 2px !important;
    max-width: 500px;
    height: 38px;
    &:hover,
    &:focus {
        border-width: 1px !important;
        border-style: solid !important;
        border-color: #277b8c !important;
        border-radius: 2px !important;
        outline: none;
        box-shadow: none;
    }
    &::placeholder {
        font-size: 14px;
        color: #696973;
    }
}
.option__profile {
    background: #f5f5f5 !important;
    margin-bottom: 0;
}
.user_active {
    color: #277b8c !important;
    font-weight: 900 !important;
}
#pagn a {
    outline: none !important;
    text-decoration: none;
    &:focus {
        outline: none !important;
        border: none !important;
    }
    &:hover {
        background: #277b8c !important;
        color: #ffffff;
    }
}
.container {
    max-width: 1280px !important;
    width: 100%;
    @include responsive_h(iphoneX, down) {
        padding-left: 0;
        padding-right: 0;
    }
}
.swal2-container {
    background: none !important;
    top: 10px !important;
    right: 10px !important;
}
.swal2-popup {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}
.swal2-popup .swal2-close {
    outline: none !important;
    border: none !important;
}
.swal2-html-container {
    z-index: 1;
    justify-content: center;
    margin: 0 !important;
    padding: 0;
    overflow: unset !important;
    color: inherit;
    font-size: 1.125em;
    font-weight: 400;
    line-height: normal;
    text-align: left !important;
    word-wrap: break-word;
    word-break: break-word;
}
._vapx {
    padding: 0 1.875rem 0.625rem;
}
.davi__sticky {
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
}

#biad__content.option_cart {
    background: #e9ecef;
}
#biad__content {
    margin-top: 0px !important;
}
#breadCrumb {
    background: #e9ecef;
    .b__crumb {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0.75rem 1rem 0.75rem 0px;
        margin-bottom: 1rem;
        list-style: none;
        background-color: #e9ecef;
        &--item {
            color: #6c757d;
            padding-left: 1rem;
            &:first-child {
                padding-left: 0;
            }
        }
    }
}
.tab-content {
    margin-top: 20px;
    position: relative;
    .owl-prev,
    .owl-next {
        position: absolute !important;
        top: 50% !important;
        z-index: 30 !important;
        border-radius: 50% !important;
        background: rgba(44, 54, 64, 1) !important;
        color: #ffffff !important;
        border: 4px solid #fafafa !important;
        &:hover {
            background: #277b8c !important;
        }
    }
    .owl-prev {
        left: -15px;
    }
    .owl-next {
        right: -15px;
    }
    strong {
        font-size: 16px;
        text-transform: uppercase;
    }
}

.owl-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        width: 30px;
        height: 30px;
        display: flex !important;
        justify-content: center;
        align-items: center;
        font-size: 40px !important;
        span {
            margin-bottom: 10px;
        }
    }
}
#biad__content {
    min-height: 600px;
    margin-top: 10px;
}
#biad__content.dtl__margin {
    margin-top: 0px !important;
    margin-bottom: 50px !important;
}
.page-link {
    cursor: pointer !important;
}
#bg-loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    z-index: 500;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    opacity: 0.2;
}
#bg-menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    z-index: 1999;
}
#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 501;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}
.cat__tab {
    a {
        align-items: center;
        display: flex;
        color: #8b9198;
        font-size: 16px;
        font-weight: 700;
        justify-content: center;
        line-height: 18.75px;
        padding: 5px;
        text-align: left;
        text-transform: uppercase;
        &:hover {
            text-decoration: none;
        }
    }
}
body::-webkit-scrollbar-track,
#outputDetail::-webkit-scrollbar-track,
#list_result::-webkit-scrollbar-track,
.mobile__menu::-webkit-scrollbar-track {
    background: rgba(240, 242, 245, 1);
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    z-index: 250;
}
body::-webkit-scrollbar,
#outputDetail::-webkit-scrollbar,
#list_result::-webkit-scrollbar,
.mobile__menu::-webkit-scrollbar {
    width: 12px;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    z-index: 250;
}
body::-webkit-scrollbar-thumb,
#outputDetail::-webkit-scrollbar-thumb,
#list_result::-webkit-scrollbar-thumb,
.mobile__menu::-webkit-scrollbar-thumb {
    background: rgba(20, 102, 120, 1);
    border-width: 4px;
    border-style: solid;
    border-color: rgba(240, 242, 245, 1);
    border-radius: 10px;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    z-index: 250;
}

#outputDetail {
    max-height: 600px;
    overflow-y: scroll;
}
.carousel-indicators li {
    background-image: linear-gradient(109.6deg, rgba(45, 116, 213, 1) 11.2%, rgba(121, 137, 212, 1) 91.2%);
}
#quickModal {
    .modal-content {
        position: relative;
        .box__sub--btn {
            position: fixed;
            z-index: 100;
            border-top: 1px solid rgba(221, 221, 221, 1);
            padding: 10px 10px 0px 10px;
            background: rgba(238, 238, 238, 1);
            border-bottom-left-radius: 0.3rem;
            border-bottom-right-radius: 0.3rem;
            margin-left: -16px;
        }
        .prd__dtl--cart {
            input {
                text-align: center;
                border: 1px solid rgba(105, 105, 115, 1);
            }
            #button-cart {
                align-items: center;
                background: rgba(58, 71, 84, 1);
                color: #ffffff;
                display: flex;
                font-family: Nunito Sans;
                font-size: 16px;
                justify-content: center;
                line-height: 14px;
                padding: 15px 20px;
                text-align: center;
                text-transform: uppercase;
                cursor: pointer;
                transition: background 0.25s;
                &:hover {
                    text-decoration: none;
                    background: #277b8c;
                }
                i {
                    margin-right: 10px;
                    margin-bottom: 2px;
                }
            }
            a.btn-number {
                width: 25px;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(238, 238, 238, 1);
                border-width: 0 0 0 1px;
                border-color: inherit;
                border-style: inherit;
                font-size: 12px;
                cursor: pointer;
                transition: background 0.2s ease-in-out;
                color: rgba(105, 105, 115, 1);
                &:hover {
                    text-decoration: none;
                    background: #277b8c;
                    color: #ffffff;
                }
                &:first-child {
                    border-top: 1px solid rgba(105, 105, 115, 1);
                    border-right: 1px solid rgba(105, 105, 115, 1);
                    border-bottom: 1px solid rgba(105, 105, 115, 1);
                }
                &:last-child {
                    border-right: 1px solid rgba(105, 105, 115, 1);
                    border-bottom: 1px solid rgba(105, 105, 115, 1);
                }
            }
            .col-1 {
                flex: 0 0 10%;
                max-width: 10%;
                @include responsive_h(iphoneX, down) {
                    flex: 0 0 10%;
                    max-width: 10%;
                }
            }
            .col-11 {
                flex: 1;
                margin-left: 10px;
            }
        }
    }
}
