#addAddress,
#editAddress {
    label {
        margin-bottom: 5px;
        font-size: 15px;
        font-family: Helvetica Neue;
    }
    .type__item {
        align-items: center;
        display: flex;
        padding: 0 12px;
        margin-right: 10px;
        height: 40px;
        max-width: 146px;
        border: 1px solid rgba(0, 0, 0, 0.09);
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        box-shadow: 0 1px 1px rgb(0 0 0 / 3%);
        border-radius: 2px;
        cursor: pointer;
    }
    .va-checkbox label::before {
        width: 17px;
        height: 17px;
        top: 0px;
        left: 0;
        border-radius: 4px;
    }
    .va-checkbox label::after {
        top: 3px;
        left: 1px;
    }
    .type__item--active {
        border: 1px solid #277b8c;
    }
}
