@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap);
@media (max-width: 1024px) {
  .mobile__header {
    display: block !important;
  }
}
.mobile__header--bar .j__menu {
  display: flex;
  height: 30px;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #dddddd;
  padding-right: 5px;
  padding-left: 5px;
  background: white;
}
.mobile__header--bar .j__menu--item {
  margin-left: 10px;
}
.mobile__header--bar .j__menu--item:first-child {
  margin-left: 0;
}
.mobile__header--bar .j__menu--item a {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #696973;
  font-weight: 400;
  padding: 5px;
  text-decoration: none;
}
.mobile__header--bar .j__menu--item a:hover {
  color: #2e86de;
}
.mobile__header--bar .j__menu--item a span {
  display: block;
  padding-left: 5px;
}

@media (max-width: 1024px) {
  #biad__header--top.resposive {
    display: block !important;
  }
}

.mobile__menu {
  height: 100vh;
  width: 375px;
  overflow: auto;
  background: white;
  box-shadow: 0 15px 90px -10px rgba(0, 0, 0, 0.2);
  z-index: 2000;
  position: fixed;
  left: -375px;
  top: 0;
  transition: all 0.4s;
}
@media (max-width: 375px) {
  .mobile__menu {
    width: 310px;
    overflow: auto;
    left: -310px;
  }
}
.mobile__menu--content {
  padding: 0 10px;
  margin-top: 10px;
}
.mobile__menu--header {
  position: relative;
  width: 100%;
  background: #f0f2f5;
  height: 45px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}
.mobile__menu--header span {
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 12px;
  font-size: 17px;
}
.mobile__menu--header a {
  height: 100%;
  width: 40px;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
}

.nite__menu.lv-0 .nite__menu--item a {
  padding-left: 30px !important;
}

.nite__menu.lv-1 .nite__menu--item a {
  padding-left: 40px !important;
}

.nite__menu--item {
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  z-index: 20;
}
.nite__menu--item .wp__iconName a {
  flex: 1;
}
.nite__menu--item .icon-toggle {
  cursor: pointer;
}
.nite__menu--item .icon-name {
  display: flex;
  align-items: center;
}
.nite__menu--item i {
  margin-top: 4px;
  font-size: 22px !important;
}
.nite__menu--item i:hover {
  color: #2e86de;
}
.nite__menu--item img {
  margin-right: 5px;
}
.nite__menu--item a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  font-size: 15px;
  line-height: 22.5px;
  color: #333333;
  transition: background 0.05s ease-in-out;
  text-decoration: none;
}
.nite__menu--item a:hover {
  color: #2e86de;
}
.nite__menu--item a i {
  font-size: 14px;
}

@media (max-width: 736px) {
  #filter_genre {
    display: none;
  }
}

@media (max-width: 812px) {
  #menu__mini--user {
    display: block !important;
  }
}

:root {
  --header-height: 3rem;
  --first-color: #3664f4;
  --dark-color: #070d1f;
  --dark-color-alt: #282b3a;
  --white-color: #e6e7e9;
  --body-font: "Poppins", sans-serif;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --z-fixed: 100;
}

.tooltip-inner {
  background-color: #277b8c !important;
  box-shadow: 0px 0px 4px #277b8c !important;
  opacity: 1 !important;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: #277b8c;
}

.product__item {
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  width: 100%;
  padding: 0 5px !important;
}
.product__item--img {
  position: relative;
}
.product__item--img .quick__view {
  visibility: hidden;
  transition: background 0.25s;
  position: absolute;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.product__item--img .quick__view:hover {
  background: #277b8c;
}
.product__item--labels {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 5px;
  margin-right: 5px;
}
.product__item--labels .label {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 11px;
  color: white;
  text-transform: uppercase;
  padding: 4px 12px;
  background: #277b8c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.product__item--labels .stock-2 {
  background: #ce11d1 !important;
}
.product__item--labels .stock-3 {
  background: #696973;
}
.product__item--labels .ht {
  background: #a13333;
}
.product__item:hover .img_show {
  display: none !important;
}
.product__item:hover .img_hide {
  display: block !important;
}
.product__item:hover .quick__view {
  visibility: visible;
}
.product__item--content .name {
  font-family: "Nunito Sans", sans-serif;
  white-space: normal;
  overflow: visible;
  text-overflow: initial;
  font-size: 16px;
  color: #3a4754;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  margin: 10px 0;
}
.product__item--content .name:hover {
  color: #277b8c;
  text-decoration: none;
}
.product__item--content .price {
  color: #333333;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
}
.product__item:first-child {
  padding-left: 0px !important;
}
.product__item:last-child {
  padding-right: 0px !important;
}

.product__item--list {
  overflow: hidden;
  transition: all 0.5s;
}
@media (max-width: 568px) {
  .product__item--list .image {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    text-align: center;
  }
}
.product__item--list .image:hover .quick__view {
  visibility: visible;
}
.product__item--list .image .quick__view {
  visibility: hidden;
  transition: background 0.25s;
  position: absolute;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 768px) {
  .product__item--list .image .quick__view {
    display: none;
  }
}
.product__item--list .image .quick__view:hover {
  background: #277b8c;
}
.product__item--list .prd__dtl--cart input {
  text-align: center;
  border: 1px solid #696973;
}
.product__item--list .prd__dtl--cart #button-cart {
  align-items: center;
  background: #3a4754;
  color: #ffffff;
  display: flex;
  font-family: Nunito Sans;
  font-size: 14px;
  justify-content: center;
  line-height: 14px;
  padding: 15px 20px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.25s;
}
.product__item--list .prd__dtl--cart #button-cart:hover {
  text-decoration: none;
  background: #277b8c;
}
.product__item--list .prd__dtl--cart #button-cart i {
  margin-right: 10px;
  margin-bottom: 2px;
}
.product__item--list .prd__dtl--cart a.btn-number {
  width: 19px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  border-width: 0 0 0 1px;
  border-color: inherit;
  border-style: inherit;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  color: #696973;
}
.product__item--list .prd__dtl--cart a.btn-number:hover {
  text-decoration: none;
  background: #277b8c;
  color: #ffffff;
}
.product__item--list .prd__dtl--cart a.btn-number:first-child {
  border-top: 1px solid #696973;
  border-right: 1px solid #696973;
  border-bottom: 1px solid #696973;
}
.product__item--list .prd__dtl--cart a.btn-number:last-child {
  border-right: 1px solid #696973;
  border-bottom: 1px solid #696973;
}
.product__item--list .prd__dtl--cart .col-1 {
  flex: 0 0 50px;
  max-width: 50px;
}
.product__item--list .prd__dtl--cart .col-11 {
  flex: 0 0 165px;
  max-width: 165px;
  margin-left: 10px;
}
@media (max-width: 568px) {
  .product__item--list .prd__dtl--cart .col-11 {
    flex: 1;
    max-width: 100%;
    margin-right: 10px;
  }
}
.product__item--list:hover .image__main {
  display: none;
}
.product__item--list:hover .image__sub {
  display: block;
}
.product__item--list .image {
  flex: 0 0 305px;
  max-width: 305px;
}
.product__item--list .image__main {
  display: block;
}
.product__item--list .image__sub {
  display: none;
}
.product__item--list .info__product {
  flex: 1;
  padding-left: 20px;
  width: 100%;
}
@media (max-width: 568px) {
  .product__item--list .info__product {
    padding-left: 0;
  }
}
.product__item--list .info__product .prdcer {
  color: #333333;
  display: inline-block;
  font-size: 11px;
  line-height: 16.5px;
  margin-bottom: 10px;
}
.product__item--list .info__product .prdcer span a {
  color: #277b8c;
}
.product__item--list .info__product .prdcer span a:hover {
  text-decoration: none;
}
.product__item--list .info__product .name a {
  color: #333333;
  font-family: Nunito Sans;
  font-size: 22px;
  line-height: 28.6px;
  text-align: left;
  margin-bottom: 10px;
  display: block;
  text-decoration: none;
}
.product__item--list .info__product .name a:hover {
  color: #277b8c;
}
.product__item--list .info__product .des {
  color: #696973;
  font-size: 15px;
  justify-content: flex-start;
  line-height: 22.5px;
  margin: 5px 0px 10px;
  text-align: left;
}
.product__item--list .info__product .price {
  color: #333333;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  margin-bottom: 20px;
}

#home__menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  box-shadow: 5px 5px 20px -10px rgba(0, 0, 0, 0.16);
  background-color: transparent;
  width: 100%;
}
#home__menu .hm__item {
  position: relative;
  width: 100%;
  z-index: 20;
}
#home__menu .hm__item .icon-name {
  display: flex;
  align-items: center;
}
#home__menu .hm__item i {
  margin-top: 3px;
}
#home__menu .hm__item .sub__menu {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  box-shadow: 5px 5px 20px -10px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  display: none;
}
#home__menu .hm__item img {
  margin-right: 5px;
}
#home__menu .hm__item a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 15px;
  line-height: 22.5px;
  color: #333333;
  transition: background 0.05s ease-in-out;
}
#home__menu .hm__item a:hover {
  background-image: linear-gradient(109.6deg, #2d74d5 11.2%, #7989d4 91.2%);
  text-decoration: none;
  color: #fafafa;
}
#home__menu .hm__item a i {
  font-size: 14px;
}

.cart__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.cart__item:hover {
  border: 1px solid #277b8c;
}
.cart__item--caption {
  padding: 0px 10px;
  flex: 0 0 50%;
  max-width: 50%;
}
.cart__item--caption .name {
  color: #333333;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 6px;
  text-decoration: none;
}
.cart__item--caption .name:hover {
  color: #277b8c;
}
.cart__item--caption .qty {
  display: flex;
  margin-top: 10px;
  height: 20px;
}
.cart__item--caption .qty input {
  width: 50px;
  text-align: center;
}
.cart__item--caption .qty .btn-number {
  border: 1px solid #696973;
  text-decoration: none;
  width: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  border-width: 0 0 0 1px;
  border-color: inherit;
  border-style: inherit;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  color: #696973;
}
.cart__item--caption .qty .btn-number:hover {
  background: #277b8c;
  color: #ffffff;
}
.cart__item--caption .model,
.cart__item--caption .price,
.cart__item--caption .ins {
  font-size: 15px;
  margin-bottom: 6px;
  color: #333333;
}
.cart__item--caption .ins {
  margin-bottom: 10px;
}
.cart__item--action {
  flex: 1;
}
@media (max-width: 414px) {
  .cart__item--action {
    margin-top: 15px;
  }
}
.cart__item--action .sub_total {
  font-size: 17px;
  text-align: center;
}
.cart__item--action .sub_total strong {
  color: #ee5253;
}
.cart__item--action .delete__cart {
  margin-top: 15px;
  padding: 2px;
  border: 1px solid #696973;
  background: none;
  color: #333;
  transition: all 0.15s linear;
}
.cart__item--action .delete__cart:hover {
  background: #0575e6;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #021b79, #0575e6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
}

.card__item--sub .info {
  flex: 1;
  padding: 0 10px;
}
.card__item--sub .info .name a {
  color: #333333;
  text-decoration: none;
  display: inline-block;
  font-family: Nunito Sans;
  font-size: 14px;
  line-height: 18.5714px;
  text-align: left;
  margin-bottom: 5px;
}
.card__item--sub .info .name a:hover {
  color: #277b8c;
}
.card__item--sub .info .option span {
  color: #333333;
  font-size: 14px;
  line-height: 18.5714px;
  text-align: left;
}
.card__item--sub .qty {
  padding: 0 5px;
}
.card__item--sub .sub_total {
  padding: 0 10px;
}
.card__item--sub .remove span {
  cursor: pointer;
  color: #ee5253;
}

.success__add--close {
  top: -15px;
  right: -8px;
}
.success__add--close i {
  cursor: pointer;
  font-size: 25px;
  color: #333;
}
.success__add--close i:hover {
  color: #ee5253;
}
.success__add--img {
  flex: 0 0 100px;
  max-width: 100px;
}
.success__add--img img {
  width: 100%;
  height: auto;
}
.success__add--content {
  flex: 1;
  padding-left: 15px;
  font-family: Montserrat;
  line-height: 20px;
}
.success__add--content a {
  text-decoration: none;
}
.success__add--content .name {
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
  display: block;
}
.success__add--content .name:hover {
  color: #ee5253;
}
.success__add--content .name_2 {
  font-weight: 700;
  color: #277b8c;
}
.success__add--content .name_2:hover {
  color: #ee5253;
}
.success__add--content .carT {
  font-weight: 700;
  color: #277b8c;
}
.success__add--content .carT:hover {
  color: #ee5253;
}
.success__add--content .alerT {
  font-size: 15px;
}
.success__add .go__cart {
  align-items: center;
  background: #3a4754;
  color: #ffffff;
  display: flex;
  font-family: Nunito Sans;
  font-size: 14px;
  justify-content: center;
  line-height: 14px;
  padding: 15px 20px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.25s;
  width: 100%;
  text-decoration: none;
  margin-right: 10px;
}
.success__add .go__cart i {
  margin-right: 10px;
  margin-bottom: 2px;
}
.success__add .go__cart:hover {
  background: #277b8c;
}
.success__add .go__cko {
  align-items: center;
  background: #00b894;
  color: #ffffff;
  display: flex;
  font-family: Nunito Sans;
  font-size: 14px;
  justify-content: center;
  line-height: 14px;
  padding: 15px 20px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.25s;
  width: 100%;
  text-decoration: none;
  margin-left: 10px;
}
.success__add .go__cko i {
  margin-right: 10px;
  margin-bottom: 2px;
}
.success__add .go__cko:hover {
  background: #7bed9f;
}

#wrapper__detail .dtl__sub {
  border-bottom: 1px solid #dddddd;
}
#wrapper__detail #wrapper_slide {
  position: relative;
}
#wrapper__detail #wrapper_slide .controls {
  position: absolute;
  top: 50%;
  z-index: 2000;
}
#wrapper__detail #wrapper_slide .controls i {
  font-size: 22px;
  color: #333;
  cursor: pointer;
}
#wrapper__detail #wrapper_slide .controls i:hover {
  color: #00b894;
}
#wrapper__detail #wrapper_slide .control__next {
  right: -14px;
}
#wrapper__detail #wrapper_slide .control__prev {
  left: -14px;
}
#wrapper__detail #dtl__info--wrapper {
  margin-bottom: 50px;
}
#wrapper__detail #dtl__info--wrapper p,
#wrapper__detail #dtl__info--wrapper li,
#wrapper__detail #dtl__info--wrapper u,
#wrapper__detail #dtl__info--wrapper i,
#wrapper__detail #dtl__info--wrapper h1,
#wrapper__detail #dtl__info--wrapper h2,
#wrapper__detail #dtl__info--wrapper h3,
#wrapper__detail #dtl__info--wrapper h4,
#wrapper__detail #dtl__info--wrapper h5,
#wrapper__detail #dtl__info--wrapper h6 {
  line-height: 25px !important;
  font-family: Montserrat;
}
#wrapper__detail #dtl__info--wrapper .info-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #277b8c;
  margin-bottom: 15px;
}
#wrapper__detail .lightSlider img {
  width: 100% !important;
  height: auto !important;
}
#wrapper__detail .lSSlideOuter .lSPager.lSGallery li {
  border: 1px solid #dddddd;
  border-radius: unset;
}
#wrapper__detail .lSSlideOuter .lSPager.lSGallery li:hover {
  border: 1px solid #00b894;
}
#wrapper__detail .lSSlideOuter .lSPager.lSGallery li.active {
  border-radius: unset !important;
  border: 1px solid #00b894;
}
#wrapper__detail .prd__dtl--stars {
  margin: 15px 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}
#wrapper__detail .prd__dtl--stars .rating .stack {
  font-size: 15px;
}
#wrapper__detail .prd__dtl--stars .reviews {
  font-size: 14px;
}
#wrapper__detail .prd__dtl--info {
  border: 1px solid #dddddd;
  height: auto;
  max-height: 400px;
  border-bottom: none;
  overflow: hidden;
  position: relative;
}
#wrapper__detail .prd__dtl--info .see__detail {
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, white 70%);
}
#wrapper__detail .prd__dtl--info .see__detail--btn {
  font-size: 14px;
  font-weight: 400 !important;
  background: #146678;
  padding: 2px;
  padding-right: 6px;
  padding-left: 6px;
  min-width: 20px;
  min-height: 20px;
  color: #ffffff;
  opacity: 1 !important;
  cursor: pointer;
}
#wrapper__detail .prd__dtl--info .see__detail--btn:hover {
  text-decoration: none;
  background: #002542;
}
#wrapper__detail .prd__dtl--info .info__wrapper {
  padding: 10px;
  margin: 20px;
}
#wrapper__detail .prd__dtl--info .info__wrapper table {
  margin: 0 !important;
  padding: 0 !important;
}
#wrapper__detail .prd__dtl--policy .fullset {
  padding: 10px;
  margin-bottom: 10px;
  background: #ecf4fb;
  border: 1px solid #dddddd;
}
#wrapper__detail .prd__dtl--policy .fullset .fs__left {
  margin-right: 20px;
}
#wrapper__detail .prd__dtl--policy .fullset .fs__left i {
  font-size: 30px;
}
#wrapper__detail .prd__dtl--policy .fullset .fs__right .name span {
  display: block;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  line-height: 22.5px;
  margin: 0px 0px 3px;
  text-align: left;
  text-transform: uppercase;
}
#wrapper__detail .prd__dtl--policy .fullset .fs__right .content ul {
  list-style-type: disc;
}
#wrapper__detail .prd__dtl--policy .fullset .fs__right .content ul li {
  color: #696973;
  display: list-item;
  font-family: Nunito Sans;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}
#wrapper__detail .prd__dtl--policy .policy {
  padding: 10px;
  background: #fffdf5;
  border: 1px solid #dddddd;
}
#wrapper__detail .prd__dtl--policy .policy .call {
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrapper__detail .prd__dtl--policy .policy .call a {
  display: flex;
  padding: 10px;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: #277b8c;
  font-weight: 700;
  line-height: 19.5px;
  text-align: left;
  margin: 0px 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
#wrapper__detail .prd__dtl--policy .policy .call a:hover {
  text-decoration: none;
  background: #277b8c;
  color: #ffffff;
}
#wrapper__detail .prd__dtl--policy .policy .call a i {
  font-size: 22px;
  padding-right: 10px;
}
#wrapper__detail .prd__dtl--policy .policy .plc {
  padding: 5px;
}
#wrapper__detail .prd__dtl--policy .policy .plc__item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #dddddd;
}
#wrapper__detail .prd__dtl--policy .policy .plc__item:last-child {
  border-bottom: none;
  margin-bottom: 30px;
}
#wrapper__detail .prd__dtl--policy .policy .plc__item--icon {
  margin-right: 20px;
  text-align: left;
  width: 30px;
  height: 30px;
}
#wrapper__detail .prd__dtl--policy .policy .plc__item--icon i {
  font-size: 30px;
  color: #277b8c;
}
#wrapper__detail .prd__dtl--policy .policy .plc__item--content .name {
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  line-height: 22.5px;
  margin: 0px 0px 3px;
  text-align: left;
  text-transform: uppercase;
}
#wrapper__detail .prd__dtl--policy .policy .plc__item--content .content {
  color: #696973;
  display: inline-block;
  font-family: Nunito Sans;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}
#wrapper__detail .prd__dtl--policy .policy .plc__item--content .content a {
  color: #277b8c !important;
}
#wrapper__detail .prd__dtl--name {
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-size: 26px;
  line-height: 31.2px;
  margin: 0px 0px 15px;
  text-align: left;
}
#wrapper__detail .prd__dtl--price {
  margin-bottom: 15px;
  color: #333;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
}
#wrapper__detail .prd__dtl--contact {
  background: #daf0d8;
}
#wrapper__detail .prd__dtl--contact .contact {
  padding: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#wrapper__detail .prd__dtl--contact .contact__top span {
  color: #333333;
  display: inline;
  font-family: Nunito Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 22.5px;
}
#wrapper__detail .prd__dtl--contact .contact__bot {
  color: #333333;
  font-size: 15px;
  line-height: 22.5px;
}
#wrapper__detail .prd__dtl--insur {
  padding-top: 5px;
  padding-bottom: 20px;
  margin-bottom: 15px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
#wrapper__detail .prd__dtl--insur span {
  color: #333333;
  font-family: Nunito Sans;
  font-size: 15px;
  line-height: 22.5px;
  text-align: left;
}
#wrapper__detail .prd__dtl--insur span strong {
  color: #c41921;
}
#wrapper__detail .prd__dtl--insur .insur {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
#wrapper__detail .prd__dtl--insur .insur li {
  margin-right: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
#wrapper__detail .prd__dtl--insur .insur li span {
  align-items: center;
  background-color: #fafafa;
  border-color: #333333;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  color: #333333;
  display: flex;
  font-size: 15px;
  justify-content: center;
  line-height: 18px;
  margin: 0px 8px 8px 0px;
  padding: 4px 7px;
}
#wrapper__detail .prd__dtl--insur .insur li.insur__item-active span {
  border-color: #277b8c;
  background: #f0f2f5;
}
#wrapper__detail .prd__dtl--insur .insur li:hover span {
  border-color: #277b8c;
  background: #f0f2f5;
}
#wrapper__detail .prd__dtl--stats {
  border-left: 1px solid #dddddd;
}
#wrapper__detail .prd__dtl--stats ul {
  color: #333333;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 22.5px;
  margin: 0px 0px 15px;
  padding: 0px 0px 0px 25px;
}
#wrapper__detail .prd__dtl--stats ul li span {
  color: #333333;
  font-family: Nunito Sans;
  font-size: 13px;
  line-height: 19.5px;
  text-align: left;
}
#wrapper__detail .prd__dtl--stats ul li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f111";
  font-size: 6px;
  position: relative;
  top: -2px;
  margin-right: 8px;
}

.product__item--labels {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 5px;
  margin-right: 5px;
}
.product__item--labels .label {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 11px;
  color: white;
  text-transform: uppercase;
  padding: 4px 12px;
  background: #277b8c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.product__item--labels .stock-2 {
  background: #ce11d1 !important;
}
.product__item--labels .stock-3 {
  background: #696973;
}
.product__item--labels .hl {
  background: #a13333;
}

.bis {
  margin-bottom: 25px;
}
.bis__desc span {
  color: #333333;
  font-size: 15px;
  line-height: 26.5px;
  margin: 0px 0px 10px;
  text-align: justify;
}
.bis__title {
  margin: 12px 0;
}
.bis__title a {
  white-space: normal;
  overflow: visible;
  text-overflow: initial;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 16px;
  line-height: 22px;
  color: #3a4754;
  text-align: justify;
  text-decoration: none;
}
.bis__title a:hover {
  color: #277b8c;
}
.bis__image {
  line-height: 0;
}
.bis__image .bis__time {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding: 5px 10px;
  pointer-events: none;
  line-height: 1;
  font-size: 16px;
  color: white;
  font-weight: 700;
  background: #146678;
  margin: 5px;
  z-index: 1;
}
.bis__image .bis__time i {
  font-size: 9px;
}
.bis__image img:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}
.bis__stats {
  display: flex;
  justify-content: center;
  position: static;
  transform: translateY(0);
  width: auto;
  background: rgba(230, 231, 234, 0.9);
  padding: 7px;
}
.bis__stats--item {
  display: flex;
  align-items: center;
  margin: 0px 10px;
  font-size: 12px;
}
.bis__stats--item span {
  display: block;
  padding-left: 6px;
  margin-top: 2px;
}

.purchase__item {
  margin: 12px 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.125rem;
}
.purchase__item ._1J7vLy {
  width: 100%;
  height: 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.09);
  position: relative;
}
.purchase__item ._37UAJO {
  padding: 24px 24px 12px;
  background: #fffefb;
}
.purchase__item .stardust-button-not-main {
  min-width: 150px;
  min-height: 40px;
  padding: 8px 20px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  border-radius: 2px;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.09);
  color: #555;
  transition: all 0.25s;
}
.purchase__item .stardust-button-not-main:hover {
  background: #ee4d2d;
  color: #fff;
}
.purchase__item--info {
  padding: 12px 24px;
  background: #fff;
}
.purchase__item--info .IdStt {
  padding: 0 0 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.purchase__item--info .IdStt .idItem span {
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
}
.purchase__item--info .IdStt .sttItem {
  font-size: 14px;
  line-height: 16.8px;
}
.purchase__item--info .IdStt .sttItem .stt {
  margin: 0 10px;
  display: block;
}
.purchase__item--info .IdStt .sttItem-1 {
  color: #cda466;
}
.purchase__item--info .IdStt .sttItem-2 {
  color: #5a959a;
}
.purchase__item--info .IdStt .sttItem-3 {
  color: #55efc4;
}
.purchase__item--info .IdStt .stt-4 {
  color: #ee4d2d;
  font-size: 18px;
}
.purchase__item--info .products {
  padding: 12px 0 0;
}
@media (max-width: 320px) {
  .purchase__item--info .products .product {
    flex-wrap: wrap;
    justify-content: end !important;
  }
}
.purchase__item--info .products .product img {
  border: 1px solid #e1e1e1;
}
@media (max-width: 414px) {
  .purchase__item--info .products .product img {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 320px) {
  .purchase__item--info .products .product img {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 414px) {
  .purchase__item--info .products .product .sub_total {
    font-size: 14px;
  }
}
.purchase__item--info .products .product .content {
  padding: 0 0 0 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  word-wrap: break-word;
}
.purchase__item--info .products .product .content .name {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 0 0 5px;
  font-size: 16px;
  max-height: 48px;
  color: #000000;
  display: inline;
  line-height: 22px;
  text-decoration: none;
}
@media (max-width: 414px) {
  .purchase__item--info .products .product .content .name {
    font-size: 12.99px;
  }
}
@media (max-width: 320px) {
  .purchase__item--info .products .product .content .name {
    font-size: 11px;
  }
}
.purchase__item--info .products .product .content .name:hover {
  color: #277b8c;
}
.purchase__item--info .products .product .content .ins {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}
@media (max-width: 414px) {
  .purchase__item--info .products .product .content .ins {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .purchase__item--info .products .product .content .ins {
    font-size: 12.99px;
  }
}
.purchase__item--stats .total {
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  margin: 0px 10px 0px 0px;
}
.purchase__item--stats .total i {
  color: #ee4d2d;
}
.purchase__item--stats .total_price {
  color: #ee4d2d;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

/* warning */
.wrapper-warning .card-2 {
  width: 870px;
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-left: 5px solid #fdc220;
  border-radius: 3px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media (max-width: 1024px) {
  .wrapper-warning .card-2 {
    width: 760px;
  }
}
@media (max-width: 768px) {
  .wrapper-warning .card-2 {
    width: 100%;
    font-size: 14px;
  }
}
.wrapper-warning .card-2 .subject p {
  color: #909092;
}
.wrapper-warning .card-2 h3 {
  display: block;
  font-size: 1.17em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  margin-bottom: 0.5em;
  font-weight: bold;
}
.wrapper-warning .card-2 .update__orders {
  text-decoration: underline;
  cursor: pointer;
  color: #000 !important;
}
.wrapper-warning .card-2 .update__orders:hover {
  color: #00b894 !important;
}
.wrapper-warning .card-2 .icon {
  font-size: 28px;
  color: #fdc220;
  padding-right: 10px;
}

/* warning */
.niteshop__brcUser {
  background: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.niteshop__brcUser--active a {
  border-bottom: 2px solid #277b8c !important;
  color: #277b8c !important;
  font-weight: 900 !important;
}
.niteshop__brcUser--item a {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 16px 0;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  background: #fff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.09);
  display: flex;
  flex: 1;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  transition: color 0.5s;
}
@media (max-width: 414px) {
  .niteshop__brcUser--item a {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .niteshop__brcUser--item a {
    font-size: 12.99px;
  }
}
@media (max-width: 320px) {
  .niteshop__brcUser--item a {
    font-size: 11px;
  }
}
.niteshop__brcUser--item a:hover {
  text-decoration: none;
  border-bottom: 2px solid #277b8c;
  color: #277b8c;
}

.btn-preOrder {
  align-items: center;
  background: #ee5253;
  color: #ffffff;
  display: flex;
  font-family: Nunito Sans;
  font-size: 14px;
  justify-content: center;
  line-height: 14px;
  padding: 15px 20px !important;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.25s;
}
.btn-preOrder:hover {
  text-decoration: none;
  background: #d63031;
  color: #fff !important;
}
.btn-preOrder i {
  margin-right: 10px;
  margin-bottom: 2px;
}

@media (max-width: 812px) {
  #headerForAdmin {
    display: none;
  }
}
#headerForAdmin .bd-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
#headerForAdmin .header {
  width: 100%;
  height: var(--header-height);
  padding: 0 1.5rem;
  background-color: var(--dark-color);
  z-index: var(--z-fixed);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#headerForAdmin .header__logo {
  color: var(--white-color);
}
#headerForAdmin .header__toggle {
  font-size: 1.5rem;
  color: var(--white-color);
  cursor: pointer;
}
#headerForAdmin .nav__content {
  height: 100%;
  -ms-grid-rows: max-content 1fr max-content;
  grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: max-content 1fr max-content;
  row-gap: 2rem;
}
#headerForAdmin .nav__close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: 0.25rem;
  background-color: var(--dark-color-alt);
  border-radius: 50%;
  cursor: pointer;
}
#headerForAdmin .nav__img {
  display: flex;
  justify-content: center;
  margin-bottom: 0.8rem;
  width: 56px;
  height: 56px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
}
#headerForAdmin .nav__name {
  display: block;
  color: var(--white-color);
}
#headerForAdmin .nav__profesion {
  font-size: var(--small-font-size);
}
#headerForAdmin .nav__menu {
  -ms-grid-row-align: center;
  align-self: center;
}
#headerForAdmin .nav__item {
  margin: 2.5rem 0;
}
#headerForAdmin .nav__link {
  color: var(--white-color);
}
#headerForAdmin .nav__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#headerForAdmin .nav__social-icon {
  font-size: 1.2rem;
  color: var(--white-color);
  margin-right: 1rem;
}
#headerForAdmin .nav__social-icon:hover {
  color: var(--first-color);
}
#headerForAdmin .show {
  left: 0;
}
#headerForAdmin .active {
  color: var(--first-color);
}
@media screen and (min-width: 768px) {
  #headerForAdmin :root {
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
  #headerForAdmin body {
    margin: 0;
  }
  #headerForAdmin .header {
    height: calc(var(--header-height) + 1.85rem);
  }
  #headerForAdmin .header__logo {
    display: none;
  }
  #headerForAdmin .header__toggle {
    display: none;
  }
  #headerForAdmin .nav {
    width: 100%;
  }
  #headerForAdmin .nav__content {
    grid-template-columns: repeat(3, -webkit-max-content);
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: 1fr;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    justify-content: space-between;
  }
  #headerForAdmin .nav__close {
    display: none;
  }
  #headerForAdmin .nav__profesion {
    display: none;
  }
  #headerForAdmin .nav__perfil {
    display: flex;
    align-items: center;
  }
  #headerForAdmin .nav__img {
    margin-right: 0.5rem;
    margin-bottom: 0;
    align-items: center;
  }
  #headerForAdmin .nav__list {
    display: flex;
  }
  #headerForAdmin .nav__item {
    margin: 0 0.25rem;
  }
  #headerForAdmin .nav__link {
    padding: 0.5rem 0.8rem;
    border-radius: 0.25rem;
  }
  #headerForAdmin .nav__link:hover {
    background-color: var(--first-color);
    color: #fff;
    text-decoration: none;
  }
  #headerForAdmin .active {
    background-color: var(--first-color);
    color: var(--white-color);
  }
}
@media screen and (max-width: 768px) {
  #headerForAdmin .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--dark-color);
    color: var(--white-color);
    width: 100%;
    height: 100vh;
    padding: 1.5rem 0;
    z-index: var(--z-fixed);
    transition: 0.5s;
  }
}
@media screen and (min-width: 1024px) {
  #headerForAdmin .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

.cart__mobile {
  position: fixed;
  right: -80%;
  top: 0;
  width: 80%;
  background: #fff;
  height: 100vh;
  z-index: 50000;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.65s;
}
@media (max-width: 568px) {
  .cart__mobile {
    right: -100%;
    width: 100%;
  }
}
.cart__mobile--header {
  position: relative;
  width: 100%;
  height: 45px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  background: #f0f2f5;
}
@media (max-width: 320px) {
  .cart__mobile--header {
    margin-bottom: 50px;
  }
}
.cart__mobile--header .title {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 12px;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
}
.cart__mobile--header .cart__mobile--xmark {
  height: 100%;
  width: 40px;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
}
.cart__mobile--header .cart__mobile--xmark:hover {
  color: #3664f4;
}
.cart__mobile--content {
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: all 0.05s ease-out;
  max-height: 100%;
  color: #000;
  color: initial;
  text-transform: uppercase;
  border-left: 1px solid #dddddd;
}
.cart__mobile--content .cart__drop {
  margin: 20px 20px auto 20px;
  width: 100%;
}
@media (max-width: 414px) {
  .cart__mobile--content .cart__drop {
    margin: 0;
  }
}
.cart__mobile--content .cart__drop #ckOrCart {
  padding: 15px;
  background: #eeeeee;
}
.cart__mobile--content .cart__drop #ckOrCart__cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart__mobile--content .cart__drop #ckOrCart__cont a {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: Nunito Sans;
  font-size: 14px;
  justify-content: center;
  line-height: 14px;
  margin: 0px 6px;
  padding: 15px 20px;
  text-align: center;
  text-transform: uppercase;
  background: #3a4754;
  border-width: 2px;
  padding: 15px;
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
}
.cart__mobile--content .cart__drop #ckOrCart__cont a i {
  font-size: 17px;
}
.cart__mobile--content .cart__drop #ckOrCart__cont a:hover {
  color: white !important;
  background: #146678 !important;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.cart__mobile--content .cart__drop #cart__drop--menu {
  position: relative;
  background: #fafafa;
  margin-top: 10px;
  padding: 10px;
  color: #333333;
  border: 1px solid #f5f6fa;
  width: 100%;
}
@media (max-width: 414px) {
  .cart__mobile--content .cart__drop #cart__drop--menu {
    padding: 0;
  }
}
.cart__mobile--content .cart__drop #cart__drop--menu li {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
@media (max-width: 414px) {
  .cart__mobile--content .cart__drop #cart__drop--menu li .qty {
    width: 10px;
    margin-right: 15px;
  }
}
@media (max-width: 320px) {
  .cart__mobile--content .cart__drop #cart__drop--menu li .remove span {
    position: absolute;
    top: -7px;
    right: -2px;
  }
}
.cart__mobile--content .cart__drop #cart__drop--menu li:last-child {
  border-bottom: none;
}
.cart__mobile--content .cart__drop #cart__drop--menu #total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  background: #eeeeee;
}
.cart__mobile--content .cart__drop #cart__drop--menu #total strong {
  color: #c41921;
}
.cart__mobile--content .cart__drop #cart__drop--menu .empty__cart {
  text-align: center;
  display: block;
}
.cart__mobile--content span:not(.empty__cart) {
  font-size: 15px;
  line-height: 22.5px;
  padding: 0px 15px 0px 20px;
}
@media (max-width: 414px) {
  .cart__mobile--content span:not(.empty__cart) {
    padding: 0;
    margin-right: 15px;
  }
}
