.switch {
    position: relative;
    top: -28px;
    input {
        height: 0;
        width: 0;
        visibility: hidden;
    }
    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 50px;
        height: 25px;
        background: grey;
        display: block;
        border-radius: 100px;
        position: relative;
    }

    label:after {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 22.5px;
        height: 22.5px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
    }

    input:checked + label {
        background: #bada55;
    }

    input:checked + label:after {
        left: calc(100%);
        transform: translateX(-100%);
    }

    label:active:after {
        width: 50px;
    }
}
.border-preview {
    border: 1px solid #192a56;
}
.stt-1 {
    border-right: 1px solid grey;
}
.slide-drag {
    height: 300px;
    width: 100%;
    border: 1px dashed grey !important;
}
.preview_img {
    border: 1px dashed grey;
    padding: 10px;
    width: 100%;
}
.slide-item {
    i:hover {
        color: #2980b9;
    }
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
    &-dd {
        font-size: 16px;
        margin-left: 10px;
        margin-right: 20px;
        cursor: pointer;
    }
    .--act {
        i {
            font-size: 20px;
            padding-left: 10px;
            padding-right: 10px;

            cursor: pointer;
        }
    }
}
.admin-cate {
    // &-dd {
    //     transition: all 0.25s ease;
    // }

    &-item.--lv-0 {
        background: #182c61;
    }
    &-item.--lv-1 {
        background: #3d3d9e;
    }
    &-item.--lv-2 {
        background: #0f415f;
    }
    &-item {
        transition: all 0.5s ease;
        display: flex;
        max-width: 400px;
        min-width: 200px;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background: grey;
        border-radius: 20px;
        margin-bottom: 20px;
        cursor: pointer;
        i:hover {
            color: #227093;
        }
    }
}
.col-5ths {
    flex: 0 0 20%;
    max-width: 20%;
}
.pgb-section,
.pgb-column {
    // padding: 10px;
    // background: #34495e;
    // width: 100%;
    &-act {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        .item {
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #34495e;
            border-radius: 1px;
            transition: background 0.25s ease;
            // border: 1px solid;
            // border-bottom: none;
            cursor: pointer;
            &:hover {
                background: #3d3d9e;
            }
        }
    }
    &-body {
        padding: 20px;
        border-radius: 1px;
        background: #2c3e50;
        transition: all 0.25s ease;
    }
    &-col {
        padding: 20px;
        background: #ecf0f1;
        border-radius: 10px;
        border-top-left-radius: 0;
    }
    &-col-add {
        border-radius: 4px;
        border: 1px dashed #34495e;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        cursor: pointer;
        i {
            font-size: 35px;
            color: gray;
            font-weight: bold;
        }
    }
}
.pgb-column-act {
    .item {
        background: #ecf0f1;
        color: black;
        transition: background 0.25s ease-in-out;
        &:hover {
            background: #b2bec3;
        }
    }
}
// //////////////////////////////////
.select-layout.active {
    background: blueviolet;
}
.pgb-package {
    padding: 20px;
    border: 1px solid #dcdde1;
    background: #2f3640;
    margin-bottom: 15px;
    border-radius: 8px;
    cursor: pointer;
    // transition: all 0.25s ease;
    &:hover {
        background: #353b48;
    }
    i {
        font-size: 18px;
        margin-right: 30px;
        &:hover {
            color: #00a8ff;
        }
    }
}
.select-layout {
    border: 1px solid gray;
    border-radius: 8px;
    padding: 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.25s ease;
    &:hover {
        background: blueviolet;
    }
    &-item {
        padding: 30px;
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        border-radius: 5px;
        background-size: 200% 100%;
        -webkit-animation: 1.5s shine linear infinite;
        animation: 1.5s shine linear infinite;
        // transition: all 0.25s ease;
    }
    @keyframes shine {
        to {
            background-position-x: -200%;
        }
    }
}
.prev-img-pack-remove {
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #192a56;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -7px;
    &:hover {
        background-color: #00a8ff;
    }
}
.pgb-sort-connect-package {
    min-height: 10px;
}
.pgb-shortCode {
    &-item {
        background: #ffffff;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        // border-radius: 8px;
        transition: background 0.25s ease;
        &:hover {
            background: #ced6e0;
        }
        .name {
            font-size: 16px;
            text-transform: capitalize;
            margin-top: 4px;
        }
    }
    &-item.active {
        background: #ced6e0;
    }
}
#modal__select--tags {
    align-items: flex-start !important;
    height: 110px !important;
    overflow-y: scroll !important;
}
.pgb-modal-dialog-preview {
    max-width: 100% !important;
    .modal-content {
        background: #fff !important;
        .container {
            max-width: 1290px !important;
        }
    }
}

.pgb-package-image {
    display: inline-block;
    img {
        max-width: 100%;
    }
}
.pgb-render-package-video {
    iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
    }
}
.pgb-render-package-textEditor {
    .content {
        color: #000000;
    }
}
.minicolors {
    width: 100% !important;
}
.minicolors-swatch {
    top: 12px !important;
    left: 10px !important;
}
.minicolors-input {
    height: 40px !important;
    width: 100% !important;
    display: inline-block;
    padding-left: 35px !important;
}
.pgb-render-package-ggmap {
    iframe {
        width: 100%;
    }
}
.title-red {
    background-color: #e80016;
    color: white;
    border-radius: 8px;
    font-size: 28px;
    line-height: 52px;
    margin-top: 15px;
    margin-bottom: 25px;
    font-weight: 700;

    font-family: "Montserrat";
}
.pgb-render-package-textEditor {
    .table {
        border: 1px solid #dee2e6;
    }
    td,
    th {
        padding: 10px;
    }
}
.pack-edit-tab-component {
    .wp {
        border: 1px solid #dee2e6;
        min-height: 430px;
        h5 {
            display: inline-block;
            border-bottom: 4px solid #e74c3c;
        }
        span:hover {
            color: #e74c3c;
        }
    }
}
.pgb-render-nav-tab {
    li {
        padding: 0px 5px;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}
.pgb-nav-tab-title {
    align-items: center;
    color: #8b9198;
    display: flex;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    justify-content: center;
    line-height: 18.75px;
    padding: 5px;
    text-align: left;
    text-transform: uppercase;
    transition: all 0.2s ease;
}
.buttons {
    .all {
        border: 1px solid white;
        border-radius: 50px;
        cursor: pointer;
        display: inline-block;
    }
    .button-admin {
        .admin {
            padding: 0 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }
    }
    .button-vip-2 {
        background-color: #81cb92;
        &:hover {
            border: 1px solid white;
            background-color: #81cb92;
        }
    }
    .button-vip-1 {
        background-color: #d76fb4;
        &:hover {
            border: 1px solid white;
            background-color: #d76fb4;
        }
    }
    .button-vip-3 {
        background-color: #0984e3;
        &:hover {
            border: 1px solid white;
            background-color: #0984e3;
        }
    }
    .button-vip-4 {
        background-color: #ff3333;
        &:hover {
            border: 1px solid white;
            background-color: #ff3333;
        }
    }
}
#pgb-modal-preview-content {
    padding: 0 !important;
}
.pack-edit-component-crsimages {
    padding: 20px;
}
#pgb-section-modal-output {
    height: calc(100vh - 200px) !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}
#pgb-tabContent {
    // overflow-y: scroll;
    // overflow-x: hidden;
    // height: 500px;
    .tab-pane {
        padding: 1rem;
    }
}
.space-item {
    border-radius: 8px;
    display: block;
    img {
        border-radius: inherit;
    }
}
.space-item.active {
    background: #00a8ff;
}
#pgb-nav-margin {
    margin-bottom: 20px;
    li:first-child {
        margin-left: 0 !important;
        a {
            transition: all 0.25s ease;
        }
    }
}
.a-form-label {
    color: #d1d5db;
    font-weight: 700;
    line-height: 16px;
    display: block;
    margin-bottom: 15px;
    text-transform: capitalize;
    sup {
        color: #fb7185;
        display: inline;
        font-size: 10.5px;
        font-weight: 500;
        line-height: 0px;
    }
}
.a-product-gallery {
    &-add {
        border: 1px dashed grey;
        padding: 10px;
        cursor: pointer;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background 0.25s ease-in-out;
        &:hover {
            background-color: #e056fd;
            border-style: solid;
        }
    }
    &-item {
        border-radius: 8px;
        border: 1px dashed grey;
        border-top-left-radius: 0px;
    }
    &-action {
        top: 0;
        left: 0;
        button {
            z-index: 100;
        }
    }
}
